
@{
    ViewData["Title"] = "HappyBirthDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px">
    <h1 class="text-success">تولد شما مبارک</h1>
    <h5>به مناسبت تولد ما کد تخفیف HappyBirthDay20 به مبلغ 20 هزارتومان داده می شود</h5>
</div>
