
@{
    ViewData["Title"] = "BannedBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px;">
    <h2 class="text-danger">کتاب های ممنوعه</h2>
    <h5>فقط افراد بالای 18 سال می توانند با این کتاب ها دسترسی پیدا کنند</h5>
</div>

